extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        // ROOM LIST
        h2 Room List
        #userList
            table
                thead
                    th RoomName
                    th Alias
                    th Capacity
                    th Status
                tbody
        // /USER LIST

    // /WRAPPER

